body {
        	font-family: 'Roboto', sans-serif;}
       
		td {
        	padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
            padding-right: 82px
            } 
                              
        h2 {
        padding: 10px;
			text-align: center;
			font-size: 40px; /* Font size */            
        	}
            
       	p {
        	padding: 10px;
			text-align: center;
			border-bottom: 1px solid #ddd;
            font-size: 20px; /* Font size */            
        	} 
            
                
        th {
        	padding: 0px;
			text-align: left;
			border-bottom: 1px solid #ddd;
            font-size: 20px; /* Font size */}
            table { 
            border-collapse: separate;
			} 
            
      	table { border-collapse: separate;
			border-spacing: 8px}
            
       	input[type=submit] {
			background-color: none;
			color: black; 
			padding: 15px 10px;
			border: white; /* No border */
			border-radius: 0px; /* Rounded corners */
			cursor: pointer; /* Cursor on hover */
			font-size: 16px; /* Font size */}
            
        </style>
        
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	.collapsible {
 	background-color: #E5E6E6;
  	color: black;
  	cursor: pointer;
  	padding: 18px;
  	width: 100%;
  	border: none;
    border-radius: 10px;
  	text-align: left;
  	outline: none;
  	font-size: 20px;
	}

	.active, .collapsible:hover {
  background-color: #00D0FF;
	}

	.content {
 	 padding: 20px;
  	display: none;
  	overflow: hidden;
  	background-color: #f1f1f1;
	}
    
    
	.content {
 	 padding: 20px;
  	display: none;
  	overflow: hidden;
  	
	}
